<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>technocrypt.id</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<header>
		<a href="/">delightfulagony</a>
	</header>
	<nav>
		<ul>
			{% set root = get_section(path="_index.md") %}
			{% for section in root.subsections %}
				{% set sub = get_section(path=section) %}
				<li>
					<a href="{{sub.permalink | safe}}">
						{{ sub.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
	<main>
		{% block content %} {% endblock %}
	</main>
	<footer>
		<a href="https://github.com/delightfulagony">
			<img src="/media/invertocat-32px.png">
		</a>
	</footer>
</body>

</html>
